.header {
    position: sticky;
    top: 0;
    z-index: 16;
    background-color: #fff;
    transition: all 0.3s ease 0s;

    &._sticky {
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    }

    // .header__container

    &__container {
    }

    // .header__body

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;

        @media (max-width: 992px) {
            height: 50px;
        }
    }

    // .header__left

    &__left {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 992px) {
            display: none;
        }

        .burger {
            margin-right: 65px;

            @media (max-width: 1280px) {
                margin-right: 35px;
            }
        }

        ul {
            display: flex;
            align-items: center;

            & > :not(:last-child) {
                margin-right: 65px;

                @media (max-width: 1280px) {
                    margin-right: 35px;
                }
            }

            li {
                a {
                    color: #000;
                    font-size: 20px;
                }
            }
        }
    }

    // .header__center

    &__center {
    }

    // .header__logo

    &__logo {
        display: block;
        flex: 0 0 auto;
        margin: 0 20px;

        @media (max-width: 992px) {
            margin: 0;
        }

        img,
        svg {
            width: 188px;

            @media (max-width: 992px) {
                width: 95px;
            }
        }
    }

    // .header__right

    &__right {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex: 1 1 auto;
        }

        // .header__right-phone

        &-phone {
            width: 32px;
            height: 32px;
            flex: 0 0 auto;
            display: none;
            margin-left: 15px;

            @media (max-width: 768px) {
                margin-left: 0;
            }

            @media (max-width: 992px) {
                display: block;
            }
        }
    }

    // .header__city

    &__city {
        margin-right: 76px;
        position: relative;

        @media (max-width: 1280px) {
            margin-right: 35px;
        }

        @media (max-width: 768px) {
            margin-left: auto;
            margin-right: auto;
        }

        @media (max-width: 360px) {
            position: static;
        }

        // .header__city-btn

        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            color: #000;
            font-family: Inter;
            font-size: 12px;

            img,
            svg {
                width: 12px;
                margin-right: 4px;
            }
        }

        // .header__city-choose
        &-choose {
            position: absolute;
            left: 50%;
            top: 130%;
            transform: translate(-50%, 0);
            bottom: auto;
            opacity: 1;
            z-index: 3;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: #fff;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
            padding: 10px;
            border-radius: 10px;
            color: #000;
            cursor: auto;
            transition: all 0.5s;

            @media (max-width: 992px) {
                top: 200%;
            }

            @media (max-width: 360px) {
                top: 100%;
            }

            &._open {
                display: none;
            }

            & > :first-child {
                display: block;
                content: "";
                position: absolute;
                height: 15px;
                width: 15px;
                background: #fff;
                top: -8px;
                left: 45%;
                transform: rotate(-135deg);
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
            }

            &:before {
                content: "";
                position: absolute;
                background-color: #fff;
                width: 50%;
                height: 10px;
                top: 0;
                left: 23%;
                z-index: 1;
            }

            p {
                margin: 0 0 10px;
                font-size: 12px;
                font-weight: 400;
                white-space: nowrap;
                font-family: Inter;

                span {
                    font-size: 14px;
                    font-weight: 600;
                }
            }

            div {
                display: flex;
                gap: 5px;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    border-radius: 64px;
                    padding: 8px 15px;
                    font-size: 12px;
                    cursor: pointer;
                    width: max-content;
                    white-space: nowrap;
                    transition: all 0.5s;
                }
                & > :first-child {
                    background-color: #d8160c;
                    color: #fff;
                    line-height: 0.5px;
                }

                & > :last-child {
                    color: #000;
                }
            }
        }
    }

    // .header__phone

    &__phone {
        color: #d8160c;
        font-size: 28px;
        line-height: normal;
        display: block;
        margin-bottom: 4px;

        @media (max-width: 992px) {
            display: none;
        }
    }

    ._socials {
        @media (max-width: 768px) {
            display: none;
        }
    }
}
