.menu {
    position: fixed;
    z-index: 17;
    top: 90px;
    height: 0;
    opacity: 0;
    pointer-events: none;
    width: fit-content;
    left: 0;

    transition: all 0.5s;

    @media (max-width: 992px) {
        top: unset;
        bottom: 0;
        height: auto;
        left: 0 !important;
        width: 100%;

        padding: 20px 0 70px;
        background-color: #f5f5f5;
        border-radius: 30px 30px 0 0;
        box-shadow: 0px 0px 8px 0px #0000004d;
    }

    &._open {
        opacity: 1;
        pointer-events: all;
    }

    // .menu__container

    &__container {
    }

    // .menu__body

    &__body {
        position: relative;
        z-index: 1;
    }

    .icon {
        width: 58px;
        height: 58px;
        align-items: center;
        justify-content: center;
        position: absolute;

        left: 50%;
        top: -20px;
        transform: translate(-50%, -50%);

        display: none;

        @media (max-width: 992px) {
            display: flex;
        }

        img,
        svg {
            flex: 0 0 auto;
            position: relative;
            width: 28px;
            z-index: 2;
            margin-bottom: 10px;
        }

        &:after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #f5f5f5;
            border-radius: 50%;
        }

        &:before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 50%;
            border-radius: 50px 50px 0 0;
            box-shadow: 0px 0px 8px 0px #0000004d;
            background-color: #f5f5f5;
            z-index: -1;
        }
    }

    nav {
        color: #000000;
        font-size: 24px;
        line-height: 1.2;
        white-space: nowrap;

        @media (min-width: 993px) {
            width: fit-content;
            background-color: #fff;
            border-radius: 24px;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
        }

        @media (max-width: 1096px) {
            font-size: 20px;
        }

        @media (max-width: 992px) {
            width: 100%;
            font-size: 16px;
        }

        & > ul {
            & > li {
                @media (max-width: 992px) {
                    padding: 14px 18px;
                    background-color: #ffffff;
                    box-shadow: 0px 0px 8px 0px #0000004d;
                    border-radius: 100px;
                }
            }
        }

        ul {
            @media (min-width: 993px) {
                & > :first-child {
                    border-radius: 24px 24px 0 0;

                    a {
                        padding: 20px 40px 15px 20px;
                        border-radius: 24px 24px 0 0;
                    }
                }

                & > :last-child {
                    border-radius: 0 0 24px 24px;

                    a {
                        padding: 15px 40px 20px 20px;
                        border-radius: 0 0 24px 24px;
                    }
                }
            }

            @media (max-width: 992px) {
                & > :not(:last-child) {
                    margin-bottom: 12px;
                }
            }

            li {
                position: relative;
                background-color: #ffffff;
                transition: all 0.5s;
                display: flex;
                align-items: center;

                @media (max-width: 992px) {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }

                button {
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    transform: translate(0, -50%);

                    @media (max-width: 992px) {
                        position: relative;
                        top: 0;
                        right: 0;
                        transform: none;
                    }

                    svg,
                    img {
                        flex: 0 0 auto;
                        width: 15px;
                        height: 15px;
                        transition: all 0.5s;
                        stroke: currentColor;

                        @media (max-width: 992px) {
                            transform: rotate(90deg);
                        }
                    }
                }

                a {
                    @media (min-width: 993px) {
                        display: block;
                        padding: 15px 40px 15px 20px;
                        transition: all 0.5s;
                    }
                }

                @media (any-hover: hover) {
                    &:hover {
                        background-color: #d8160c;

                        & > a {
                            color: #fff !important;
                        }

                        ul {
                            display: block;
                        }

                        svg,
                        img {
                            stroke: #fff;
                        }
                    }
                }

                &[data-open] {
                    background-color: #f5f5f5;

                    @media (max-width: 992px) {
                        border-radius: 23px;
                        background-color: #fff;
                    }

                    ul {
                        display: block;

                        @media (max-width: 992px) {
                            max-height: 100vw;
                        }
                    }

                    svg,
                    img {
                        stroke: #d8160c;

                        @media (max-width: 992px) {
                            transform: rotate(-90deg);
                        }
                    }
                }
            }

            ul {
                transition: all 0.5s;

                @media (min-width: 993px) {
                    position: absolute;
                    left: calc(100% + 4px);
                    top: 0;
                    background-color: #fff;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
                    border-radius: 24px;
                    display: none;

                    &:before {
                        content: "";
                        width: 20px;
                        height: 20px;
                        transform: rotate(45deg);
                        background-color: #ffffff;
                        position: absolute;
                        top: 17px;
                        left: -7px;
                        box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
                    }
                }

                @media (max-width: 992px) {
                    max-height: 0;
                    overflow: hidden;
                    flex: 0 0 100%;
                    width: 100%;
                    padding-left: 15px;

                    & > :first-child {
                        margin-top: 15px;
                    }

                    & > :last-child {
                        margin-bottom: 10px;
                    }

                    & > :not(:last-child) {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
