.popup {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000c5;
    width: 100%;
    height: 100%;
    z-index: 30;
    overflow-y: auto;

    padding-bottom: 30px;
    @include adaptive-value("padding-top", 100, 50, 1);

    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.5s,
        visibility 0.5s;

    &._open {
        opacity: 1;
        visibility: visible;

        .popup__body {
            transform: translate3d(0, 0, 0);
        }
    }

    &._dark {
        .popup__body {
            max-width: 500px !important;
            background-color: #e9e9e9;
        }
    }

    // .popup__top

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
            display: flex;
            align-items: center;

            svg,
            img {
                width: 31px;
                margin-right: 12px;
                flex: 0 0 auto;

                @media (max-width: 992px) {
                    width: 24px;
                }
            }
        }

        span {
            font-size: 32px;
            font-weight: 400;
            line-height: 37px;

            @media (max-width: 992px) {
                font-size: 18px;
                line-height: 18px;
            }
        }
    }

    // .popup__container

    &__container {
    }

    // .popup__body

    &__body {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 32px;
        width: 100%;
        max-width: 985px;
        border-radius: 24px;
        background-color: #fff;
        box-shadow: 0 8px 24px 3px rgba(141, 141, 141, 0.65);
        margin-inline: auto;

        transform: translate3d(0, -20px, 0);
        transition: all 0.3s ease 0s;

        @media (max-width: 992px) {
            max-width: 100%;
            padding: 20px;
        }
    }

    // .popup__close

    &__close {
        img,
        svg {
            width: 24px;
            height: 24px;
            pointer-events: none;
        }
    }

    // .popup__content

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &#city {
        .popup__content {
            &-img {
                width: 80%;
                margin: 20px auto 0 auto;

                @media (max-width: 992px) {
                    width: 100%;
                }
            }

            input {
                border: 2px solid #d1d1d1;
                border-radius: 50px;
                padding: 16px 32px;
                width: 100%;
                font-size: 20px;
                margin: 30px 0;

                @media (max-width: 992px) {
                    font-size: 16px;
                    padding: 16px;
                }
            }

            p {
                margin: 30px 0 0;
                font-size: 20px;
                font-weight: 700;
                line-height: 23px;
                text-align: left;
                color: #0d0d0d;

                @media (max-width: 992px) {
                    font-size: 14px;
                    line-height: 16px;
                }
            }

            ul {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                max-height: 325px;
                overflow: overlay;

                @media (max-width: 768px) {
                    grid-template-columns: repeat(3, 1fr);
                }

                @media (max-width: 600px) {
                    grid-template-columns: repeat(2, 1fr);
                }

                li {
                    font-size: 20px;
                    line-height: 23px;
                    color: #0d0d0d;
                    padding: 7px;
                    transition: all 0.5s;

                    @media (max-width: 992px) {
                        line-height: 16px;
                        font-size: 14px;
                    }

                    &.all {
                        font-weight: 600;
                    }
                }
            }
        }
    }

    &#privacy {
        padding-top: 312px;

        @media (max-width: 1366px) {
            padding-top: 200px;
        }

        @media (max-width: 1160px) {
            @include adaptive-value("padding-top", 200, 112, 1);
        }

        .popup__body {
            padding: 32px;

            @media (max-width: 768px) {
                padding: 12px;
            }
        }

        .popup__close {
            position: absolute;
            right: 0;
            top: 0;

            @media (max-width: 768px) {
                img,
                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .popup__content {
            position: relative;

            a {
                color: #0d0d0d;
                font-size: 20px;
                font-weight: 500;
                line-height: 130%;

                display: flex;
                align-items: center;

                transition: all 0.5s ease 0s;

                &:first-child {
                    max-width: 87%;
                }

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                @media (max-width: 992px) {
                    font-size: 16px;
                }

                @media (max-width: 768px) {
                    font-size: 14px;
                }

                svg,
                img {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                    flex: 0 0 auto;

                    stroke-width: 2px;
                    stroke: currentColor;

                    transition: all 0.5s ease 0s;
                }
            }
        }
    }

    &#contacts {
        .popup {
            // .popup-form

            &-form {
                padding: 20px;
                max-width: 500px;
                width: 100%;
                border-radius: 24px;
                background-color: #e9e9e9;
                box-shadow: 0 8px 24px 3px rgba(141, 141, 141, 0.65);

                @media (max-width: 992px) {
                    padding: 12px;
                }

                h3 {
                    display: block;
                    margin-bottom: 20px;
                    font-size: 25px;
                    line-height: 25px;
                    text-align: center;

                    @media (max-width: 992px) {
                        font-size: 20px;
                    }
                }
            }

            // .popup__body

            &__body {
                width: 100%;
                max-width: 850px;
                background: none;
                box-shadow: none;
                padding: 0 !important;
            }

            // .popup__top

            &__top {
                width: 100%;

                div {
                    width: 100%;

                    span {
                        text-align: center;
                        font-size: 25px;
                        width: 100%;
                        @media (max-width: 992px) {
                            font-size: 20px;
                        }
                    }

                    & > :last-child {
                        display: none;
                    }

                    @media (max-width: 992px) {
                        & > :first-child {
                            display: none;
                        }

                        & > :last-child {
                            display: block;
                        }
                    }
                }
            }

            // .popup__close

            &__close {
                svg {
                    @media (max-width: 768px) {
                        width: 18px !important;
                        height: 18px !important;
                    }
                }
            }

            // .popup__content

            &__content {
                // .popup__content-top

                &-top {
                    width: 100%;
                    padding: 20px 32px;
                    border-radius: 24px;
                    background-color: #fff;
                    box-shadow: 0 8px 24px 3px rgba(141, 141, 141, 0.65);
                    margin-bottom: 10px;

                    @media (max-width: 992px) {
                        padding: 12px;
                        max-width: 500px;
                    }

                    label {
                        font-size: 16px;
                        line-height: 16px;
                        text-align: center;
                        width: 100%;
                        display: block;

                        @media (max-width: 992px) {
                            display: none;
                        }
                    }
                }

                // .popup__content-socialbuttons

                &-socialbuttons {
                    margin: 20px 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 5px;

                    @media (max-width: 992px) {
                        flex-direction: column;
                        margin: 20px 0 0 0;
                        gap: 10px;
                    }

                    a {
                        max-width: 260px;
                        width: 100%;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 8px;
                        border-radius: 64px;
                        cursor: pointer;
                        transition: all 0.5s;

                        svg,
                        img {
                            width: 32px;
                            height: 32px;
                            flex: 0 0 auto;

                            @media (max-width: 768px) {
                                width: 24px;
                                height: 24px;
                            }
                        }

                        span {
                            white-space: nowrap;
                            font-size: 16px;
                            line-height: 19px;
                            color: #fff;
                        }
                    }
                }

                // .popup__content-qrimages

                &-qrimages {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 10px 0;

                    @include adaptive-value("padding-left", 50, 0, 1);
                    @include adaptive-value("padding-right", 50, 0, 1);

                    div {
                        cursor:
                            url("img/lupa.svg") 20 20,
                            zoom-in;
                        width: 110px;
                        height: 110px;
                    }

                    div * {
                        pointer-events: none;
                    }

                    @media (max-width: 992px) {
                        display: none;
                    }
                }
            }
        }

        .whatsapp {
            background-color: #48c95f;
            @media (any-hover: hover) {
                &:hover {
                    box-shadow: 0 0 20px 0 #48c95f;
                }
            }
        }

        .telegram {
            background-color: #27a6e5;
            @media (any-hover: hover) {
                &:hover {
                    box-shadow: 0 0 20px 0 #27a6e5;
                }
            }
        }

        .viber {
            background-color: #7c509a;
            @media (any-hover: hover) {
                &:hover {
                    box-shadow: 0 0 20px 0 #7c509a;
                }
            }
        }

        .form {
            // .form__input

            &__input {
                border: 2px solid #d1d1d1;
                border-radius: 50px;
                padding: 14px 32px;
                width: 100%;
                font-size: 16px;
                margin: 0;
                box-shadow: 0 0 8px 0 #0000004d;
                margin-bottom: 15px;
                background-color: #fff;

                @media (max-width: 768px) {
                    padding: 12px 24px;
                    font-size: 14px;
                }

                input {
                    width: 100%;

                    ::placeholder {
                        text-align: center;
                    }
                }
            }

            // .form__policy

            &__policy {
                display: flex !important;
                align-items: center;
                margin-bottom: 0 !important;

                img,
                svg {
                    margin-right: 5px;
                    width: 24px;
                    height: 24px;
                    flex: 0 0 auto;
                }

                p {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 100%;
                    color: #b5b5b5;

                    a {
                        text-decoration: underline;
                    }
                }
            }

            button {
                margin-inline: auto;
                margin-bottom: 15px;
                background-color: #d8160c;
                border-radius: 64px;
                padding: 16px 32px;
                color: #fff;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
                width: 240px;
                transition: all 0.5s;

                white-space: nowrap;

                @media (max-width: 992px) {
                    width: 100%;
                    font-size: 14px;
                }
            }

            label {
                display: block;
                width: 100%;
                text-align: center;
                margin-bottom: 15px;

                font-size: 16px;
                text-align: center;
                width: 100%;
                display: block;

                @media (max-width: 992px) {
                    font-size: 12px;
                    text-align: left;
                }
            }
        }
    }

    &#qrcode {
        .popup__body {
            max-width: 405px;
            padding: 20px 50px;
        }

        .popup__close {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        .qrcode-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            display: none;

            &._active {
                display: block;
            }

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 32px;
                font-weight: 500;

                img,
                svg {
                    width: 33px;
                    height: 33px;
                    flex: 0 0 auto;
                    margin-right: 10px;
                }
            }

            a {
                white-space: nowrap;
                display: block;
                margin: 27px 0;
                padding: 16px 32px;
                border-radius: 64px;
                font-size: 20px;
                font-weight: 500;
                color: #ffffff;
                transition: all 0.5s;

                @media (any-hover: hover) {
                    &:hover {
                        color: #fff !important;
                    }
                }

            }

            label {
                display: block;
                font-size: 20px;
                font-weight: 500;
            }

            & > img {
                margin: 24px 0;
                display: block;
            }

            p {
                font-size: 20px;
                font-weight: 500;
                color: #0d0d0d;
            }

            &.whatsapp {
                div {
                    color: #48c95f;
                }

                a {
                    background-color: #48c95f;

                    @media (any-hover: hover) {
                        &:hover {
                            box-shadow: 0 0 20px 0 #48c95f;
                        }
                    }
                }

                label {
                    color: #48c95f;
                }
            }

            &.telegram {
                div {
                    color: #27a6e5;
                }

                a {
                    background-color: #27a6e5;

                    @media (any-hover: hover) {
                        &:hover {
                            box-shadow: 0 0 20px 0 #27a6e5;
                        }
                    }
                }

                label {
                    color: #27a6e5;
                }
            }

            &.viber {
                div {
                    color: #7c509a;
                }

                a {
                    background-color: #7c509a;

                    @media (any-hover: hover) {
                        &:hover {
                            box-shadow: 0 0 20px 0 #7c509a;
                        }
                    }
                }

                label {
                    color: #7c509a;
                }
            }
        }
    }
}

.none {
    display: none !important;
}
