.advantages {
    padding-top: 40px;
    padding-bottom: 90px;

    @media (max-width: 1440px) {
        padding-top: 20px;
        padding-bottom: 24px;
    }

    @media (max-width: 768px) {
        padding-bottom: 30px;
    }

    h2 {
        text-align: left;
        margin-bottom: 60px;

        @media (max-width: 1440px) {
            margin-bottom: 40px;
        }

        @media (max-width: 768px) {
            margin-bottom: 20px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        &:empty {
            margin-bottom: 0 !important;
        }
    }

    ol {
        text-align: left;

        & > :not(:last-child) {
            margin-bottom: 30px;
        }

        li {
            display: flex;
            align-items: center;
            color: #2b3131;
            font-size: 24px;

            @media (max-width: 992px) {
                font-size: 16px;
            }

            svg {
                margin-right: 12px;
                width: 35px;
                flex: 0 0 auto;
                fill: none;
            }
        }
    }

    button {
        margin-top: 30px;
        padding-top: 16px;
        padding-bottom: 16px;
        max-width: 450px;
        width: 100%;

        @media (max-width: 768px) {
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .section__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100%;

        @media (max-width: 1440px) {
            padding: 54px 0;
        }

        @media (max-width: 768px) {
            padding: 0;
            align-items: center;
        }
    }

    .section__flex {
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: column-reverse;
            justify-content: flex-end;
        }
    }

    &:not(.advantages-person) {
        .section__flex._top {
            @media (min-width: 992px) {
                .section__flex-right {
                    padding-bottom: 100px;

                    h2 {
                        margin-bottom: 100px;
                    }
                }
            }
        }
    }

    .section__flex-right {
        width: auto;
        max-width: none;

        @media (min-width: 769px) {
            flex: 1 1 auto;
            padding-left: 40px;
        }

        @media (max-width: 768px) {
            margin-bottom: 50px;
        }

        ._button {
            @media (min-width: 1441px) {
                margin-top: 60px;
            }
        }
    }

    .section__flex-left {
        width: auto !important;
        max-width: none !important;
    }

    .victory__card {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: 1440px) {
            max-width: 284px;
            width: 100%;
        }

        // .victory__card-docimg

        &-docimg {
            display: block;
            height: 322px;
            max-width: 100%;
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);

            @media (max-width: 768px) {
                height: 200px;
            }

            cursor: pointer;
            transition: all 0.5s;

            opacity: 1 !important;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        // .victory__card-person

        &-person {
            // .victory__card-person-img

            @media (max-width: 1440px) and (min-width: 993px) {
                margin-top: -75px;
            }

            &-img {
                @media (max-width: 1440px) and (min-width: 993px) {
                    width: 150px;
                    height: 150px;
                }
            }

            a {
                opacity: 1 !important;
            }
        }

        // .victory__card-text

        &-text {
            margin-top: 8px;

            @media (max-width: 1440px) {
                margin-top: 5px;
            }
        }
    }

    .swiper {
        max-width: 344px !important;
        width: 344px !important;
        padding: 20px;
        margin-top: -20px;

        @media (max-width: 1440px) {
            width: 290px !important;
        }

        @media (max-width: 768px) {
            width: 252px !important;
        }

        .victory__card-docimg {
            height: 427px;

            @media (max-width: 1440px) {
                height: 353px;
            }

            @media (max-width: 768px) {
                height: 300px;
            }
        }
    }

    &:not(.victory-swiperblock) {
        h2 {
            @media (max-width: 768px) {
                max-width: 177px;
            }
        }
    }

    &:has(.victory-swiperblock__title) {
        .swiper {
            box-shadow: none;

            &-slide {
                height: auto !important;

                a {
                    display: flex;
                    flex-direction: column;
                    min-height: 100%;
                }

                .victory-swiperblock__title {
                    flex: 1 1 auto;
                }

                picture,
                img {
                    height: 100%;
                    height: 427px;

                    @media (max-width: 1440px) {
                        height: 353px;
                    }

                    @media (max-width: 768px) {
                        height: 300px;
                    }
                }

                img {
                    box-shadow: 0px 0px 14.89655px 0px rgba(0, 0, 0, 0.17);
                }
            }
        }

        button {
            @media (max-width: 768px) {
                margin-top: 5px;
            }
        }
    }

    &.hide-list {
        @media (max-width: 768px) {
            .section__flex {
                flex-direction: column;
            }

            .section__flex-right {
                margin-bottom: 0 !important;
            }

            ol {
                display: none !important;
            }
        }
    }

    &-person {
        @media (min-width: 1441px) {
            padding-bottom: 60px;
        }

        .section__flex-right {
            padding-bottom: 0 !important;

            @media (max-width: 768px) {
                margin-bottom: 30px !important;
            }
        }

        @media (max-width: 768px) {
            h2 {
                display: none !important;
            }
        }
    }

    .section__flex {
        &._row-reverse {
            @media (min-width: 769px) {
                flex-direction: row-reverse;
            }

            .swiper {
                padding: 0;
                margin: 0;
            }

            .section__flex-right {
                padding-right: 60px;
                padding-left: 0;

                @media (max-width: 992px) {
                    padding-right: 40px;
                }

                @media (max-width: 768px) {
                    padding-right: 0;
                }
            }
        }
    }
}

.person-page + .advantages {
    .section__info {
        @media (max-width: 1440px) {
            padding-top: 0;
        }
    }
}
