.callback {
    padding-top: 10px;

    @media (max-width: 768px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .section__flex {
        max-width: 835px;
    }

    h2 {
        text-align: left;
        color: #0d0d0d;
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 70px;

        @media (max-width: 1440px) {
            font-size: 24px;
        }

        @media (max-width: 768px) {
            font-size: 20px;
            margin-bottom: 21px;
        }
    }

    &:not(.callback-text)h2 {
        @media (max-width: 768px) {
            text-align: center;
        }
    }

    .callback-person {
        width: 310px;
        height: 310px;
        display: block;

        @media (max-width: 992px) {
            width: 250px;
            height: 250px;
        }

        @media (max-width: 768px) {
            margin-bottom: 23px;
            margin-top: 2px;
            margin-left: auto;
            margin-right: auto;
        }

        img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    ._button {
        @media (max-width: 768px) {
            width: 100%;
        }
    }
}

.callback-text {
    .section__flex {
        max-width: 1020px;

        &-left {
            padding-right: 108px;
            width: auto;
            flex: 1 1 auto;

            @media (max-width: 1440px) {
                padding-right: 50px;
            }

            @media (max-width: 768px) {
                padding-right: 0;
            }

            p {
                color: #0d0d0d;
                font-style: normal;
                line-height: 130%;
                font-weight: 500;
                font-size: 28px;

                @media (max-width: 1440px) {
                    font-size: 24px;
                }

                @media (max-width: 768px) {
                    font-size: 20px;
                    margin-left: auto;
                    margin-right: auto;
                }

                a {
                    color: #d8160c;
                }
            }

            .view-more {
                margin-top: 48px;
                margin-left: auto;
                margin-right: auto;
                width: fit-content;

                @media (max-width: 768px) {
                    margin-top: 19px;
                }
            }
        }

        &-right {
            width: auto;
            flex: 0 0 auto;

            @media (max-width: 768px) {
                margin-top: 20px;
            }

            button {
                margin-top: 30px;
                margin-left: auto;
                margin-right: auto;
                white-space: nowrap;

                @media (max-width: 768px) {
                    margin-top: 0;
                }
            }
        }

        .callback-person {
            @media (max-width: 768px) {
                margin-bottom: 10px;
            }
        }
    }
}
