.victory__card {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 333px;

    @media (max-width: 1440px) {
        max-width: 210px;
        width: 100%;
    }

    &._active {
        .victory__card-descr {
            top: 0;
            opacity: 1;
            pointer-events: all;
        }

        .victory__card-docimg,
        .victory__card-person a {
            opacity: 0;
            pointer-events: none;
        }

        .victory__card-text {
            label {
                color: #d8160c;
            }
        }
    }

    // .victory__card-docimg

    &-docimg {
        display: block;
        height: 471px;
        width: 100%;

        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);

        @media (max-width: 1440px) {
            height: 297px;
        }

        cursor:
            url("../img/lupa.svg") 20 20,
            zoom-in;

        transition: all 0.5s;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    // .victory__card-person

    &-person {
        margin-top: -95px;

        @media (max-width: 1440px) {
            margin-top: -60px;
        }

        // .victory__card-person-img

        &-img {
            display: block;
            width: 190px;
            height: 190px;
            position: relative;
            margin: 0 auto;

            transition: all 0.5s;

            @media (max-width: 1440px) {
                width: 120px;
                height: 120px;
            }
        }

        img {
            border-radius: 50%;
        }
    }

    // .victory__card-text

    &-text {
        display: block;
        margin-top: 17px;
        color: #000;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 130%;
        width: 100%;
        max-width: 264px;

        @media (max-width: 1440px) {
            margin-top: 2px;
            max-width: 100%;
        }

        @media (max-width: 768px) {
            font-size: 12px;
        }

        label {
            transition: all 0.3s ease 0s;
        }
    }

    // .victory__card-descr

    &-descr {
        position: absolute;
        width: 100%;
        max-height: 100%;
        top: 50px;
        left: 0;

        padding: 24px 18px 24px 24px;
        background-color: #ffffff;
        box-shadow: 0px 0px 8px 0px #0000004d;
        border-radius: 20px;
        z-index: 1;
        font-weight: 300;

        pointer-events: none;
        opacity: 0;
        transition: all 0.5s;
        line-height: 1.1;

        display: flex;
        flex-direction: column;

        @media (max-width: 1440px) {
            font-size: 14px;
            padding: 12px;
            padding-right: 6px;
        }

        @media (max-width: 768px) {
            font-size: 12px;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-height: 100%;
            overflow: hidden;
            overflow-y: auto;
            flex: 1 1 auto;

            padding-right: 6px;

            @media (any-hover: hover) {
                &::-webkit-scrollbar {
                    background-color: #f6f6f6;
                    width: 4px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #7c7c7c;
                }
            }

            & > :not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }
}

.feedback__card {
    width: 100%;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);

    a {
        display: block;
        height: 100%;
        width: 100%;

        position: relative;
        padding-bottom: 139.5121951219512%;

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.person__card {
    height: 100%;
    position: relative;

    @media (any-hover: hover) {
        &:hover {
            p,
            .more {
                max-height: 64px;
            }

            .more {
                margin-top: 6px;
            }
        }
    }

    @media (max-width: 992px) {
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
    }

    // .person__card-img

    &-img {
        position: relative;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @media (max-width: 768px) {
            height: 300px;
        }

        // .person__card-img-image

        &-image {
            width: 100%;
            height: 105%;

            picture {
                height: 100%;
                display: block;
                width: 100%;
            }

            img {
                display: block;
                height: 100%;
                object-fit: cover;
                object-position: top;

                @media (max-width: 768px) {
                    width: 260px;
                    margin-left: auto;
                    margin-right: auto;
                    height: 100%;
                }

                filter: drop-shadow(267px 588px 258px rgba(0, 0, 0, 0.11))
                    drop-shadow(12px 12px 40px rgba(0, 0, 0, 0.32));
            }
        }
    }

    // .person__card-info

    &-info {
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 24px;
        background-color: rgba($color: #0d0d0d, $alpha: 0.8);
        padding: 12px 20px;

        h3 {
            margin-bottom: 2px;
            font-size: 24px;
            font-weight: 500;

            @media (max-width: 992px) {
                font-size: 22px;
            }
        }

        p {
            font-size: 16px;

            @media (max-width: 768px) {
                font-size: 12px;
            }

            @media (any-hover: hover) {
                max-height: 0;
                transition: all 0.3s ease 0s;
                overflow: hidden;
            }
        }

        ol {
            display: flex;
            gap: 30px;
            margin-top: 4px;

            @media (max-width: 992px) {
                gap: 15px;
                align-items: center;
            }

            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                @media (max-width: 992px) {
                    flex-direction: row;
                }

                &:has(img) {
                    flex: 0 0 auto;
                }

                span,
                label {
                    display: block;
                }

                span {
                    font-weight: 700;
                    line-height: 1;
                    font-size: 45px;

                    @media (max-width: 992px) {
                        font-size: 50px;
                    }
                }

                label {
                    font-size: 14px;
                    font-weight: 400;

                    @media (max-width: 992px) {
                        text-align: left;
                        font-size: 12px;
                        margin-left: 4px;
                    }
                }

                img {
                    width: 62px;
                    max-height: 75px;
                    object-fit: contain;

                    @media (max-width: 992px) {
                        width: 48px;
                    }
                }
            }
        }

        .more {
            display: block;
            width: fit-content;
            font-size: 14px;
            text-decoration: underline;

            @media (any-hover: hover) {
                max-height: 0;
                transition: all 0.3s ease 0s;
                overflow: hidden;
            }

            @media (any-hover: none) {
                margin-top: 6px;
            }
        }

        .city {
        }
        .exp {
        }
        .param {
        }
    }
}
