.victory__card {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1366px) {
        max-width: 199px;
        width: 100%;
    }

    &._active {
        .victory__card-descr {
            top: 0;
            opacity: 1;
            pointer-events: all;
        }

        .victory__card-docimg,
        .victory__card-person a {
            opacity: 0;
        }

        .victory__card-text {
            label {
                color: #d8160c;
            }
        }
    }

    // .victory__card-docimg

    &-docimg {
        display: block;
        height: 515px;

        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);

        @media (max-width: 1366px) {
            height: 274px;
        }

        cursor:
            url("../img/lupa.svg") 20 20,
            zoom-in;

        transition: all 0.5s;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    // .victory__card-person

    &-person {
        margin-top: -48%;

        @media (max-width: 1366px) {
            margin-top: -40%;
        }

        @media (max-width: 768px) {
            margin-top: -51%;
        }

        // .victory__card-person-img

        &-img {
            display: block;
            width: 190px;
            height: 190px;
            position: relative;
            margin: 0 auto;

            transition: all 0.5s;

            @media (max-width: 1366px) {
                width: 120px;
                height: 120px;
            }
        }

        img {
            border-radius: 50%;
        }
    }

    // .victory__card-text

    &-text {
        display: block;
        margin-top: 17px;
        color: #000;
        text-align: center;
        font-family: Ubuntu;
        font-size: 20px;
        font-weight: 500;
        line-height: 130%;
        width: 100%;
        max-width: 264px;

        @media (max-width: 1366px) {
            margin-top: 2px;
            max-width: 100%;
            font-size: 16px;
        }

        label {
            transition: all 0.3s ease 0s;
        }
    }

    // .victory__card-descr

    &-descr {
        position: absolute;
        width: 100%;
        max-height: 100%;
        top: 50px;
        left: 0;

        pointer-events: none;
        opacity: 0;
        transition: all 0.5s;

        padding: 24px 12px 24px 24px;
        background-color: #ffffff;
        box-shadow: 0px 0px 8px 0px #0000004d;
        border-radius: 20px;
        z-index: 1;

        @media (max-width: 1366px) {
            font-size: 14px;
            line-height: 16px;
            height: 100%;
        }

        div {
            height: 100%;
            overflow-y: auto;
            padding-right: 12px;

            @media (any-hover: hover) {
                &::-webkit-scrollbar {
                    width: 4px;
                }
            }

            display: flex;
            flex-direction: column;
            align-items: center;

            & > :not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }
}

.feedback__card {
    height: 286px;
    width: 205px;

    @media (max-width: 768px) {
        width: 100px;
        height: 140px;
    }

    a {
        display: block;
        height: 100%;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.person__card {
    height: 100%;
    position: relative;

    @media (max-width: 992px) {
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
    }



    // .person__card-img

    &-img {
        position: relative;

        img {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    // .person__card-info

    &-info {
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 24px;
        background-color: rgba($color: #0d0d0d, $alpha: 0.8);
        padding: 12px 20px;

        h3 {
            font-size: 20px;
        }

        p {
            font-size: 14px;
            margin: 2px 0;
        }

        ol {
            display: flex;
            gap: 30px;

            @media (max-width: 992px) {
                gap: 20px;
            }

            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 0 0 auto;

                span,
                label {
                    display: block;
                }

                span {
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 1;
                }

                label {
                    font-size: 14px;
                    font-weight: 400;
                }

                img {
                    width: 43px;
                }
            }
        }

        .more {
            display: block;
            width: fit-content;
            font-size: 14px;
            margin-top: 6px;
            text-decoration: underline;
        }

        .city {
        }
        .exp {
        }
        .param {
        }
    }
}
