.contacts {
    @include adaptive-value("margin-top", 12, 7, 1);
    padding-bottom: 20px;

    @media (max-width: 768px) {
        &:after {
            display: none !important;
        }
    }

    // .contacts__list

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 15px;

        @media (max-width: 992px) {
            justify-content: center;
            gap: 35px;
        }

        // .contacts__list-item

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;

            label {
                display: block;
                margin: 24px 0;
                text-align: center;
                font-size: 16px;
                font-weight: 500;

                @media (max-width: 1440px) {
                    margin: 18px 0;
                }

                @media (max-width: 992px) {
                    display: none;
                }
            }

            img {
                width: 180px;
                height: 180px;

                @media (max-width: 1440px) {
                    width: 160px;
                    height: 160px;
                }

                @media (max-width: 992px) {
                    display: none;
                }
            }

            ._button {
                @media (max-width: 1096px) and (min-width: 993px) {
                    padding: 16px 8px;
                }
            }
        }

        // .contacts__list-text

        &-text {
            margin-top: 24px;
            display: block;
            color: #0d0d0d;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            width: 100%;
            margin-left: auto;
            margin-right: auto;

            @media (max-width: 992px) {
                display: none;
            }
        }
    }

    ._button {
        @media (max-width: 992px) {
            display: none;
        }
    }

    // .contacts__top

    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        @media (max-width: 992px) {
            margin: 20px 0;
        }

        svg {
            margin-right: 10px;
            width: 32px;
            height: 32px;
            flex: 0 0 auto;

            @media (max-width: 992px) {
                width: 48px;
                height: 48px;
                margin-right: 0;
            }
        }

        span {
            text-align: center;
            font-size: 30px;
            font-weight: 500;

            @media (max-width: 1440px) {
                font-size: 24px;
            }

            @media (max-width: 992px) {
                display: none;
                font-size: 20px;
            }
        }
    }

    .whatsapp {
        color: #48c95f;

        @media (any-hover: hover) {
            &:hover {
                .contacts__top {
                    color: #48c95f;
                }
            }
        }
    }
    .telegram {
        color: #27a6e5;

        @media (any-hover: hover) {
            &:hover {
                .contacts__top {
                    color: #27a6e5;
                }
            }
        }
    }
    .viber {
        color: #7c509a;

        @media (any-hover: hover) {
            &:hover {
                .contacts__top {
                    color: #7c509a;
                }
            }
        }
    }

    .big-tel {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #d8160c;
        font-size: 22px;
        font-weight: 500;
        display: none;

        @media (max-width: 992px) {
            display: flex;
        }

        svg {
            width: 32px;
            height: 32px;
            flex: 0 0 auto;
            margin-right: 8px;
            display: none;
        }
    }

    .contact-email {
        display: flex;
        align-items: center;
        justify-content: center;

        display: none;

        @media (max-width: 992px) {
            display: flex;
        }

        span {
            color: #0d0d0d;
            font-size: 16px;
            font-weight: 400;
        }

        svg {
            stroke: #0d0d0d;
            width: 16px;
            height: 16px;
            flex: 0 0 auto;
            margin-right: 10px;
        }
    }
}

.contact-calendar {
    padding-bottom: 100px;

    @media (max-width: 768px) {
        padding-bottom: 50px;
    }
}

.ofice {
    padding-top: 20px;
    padding-bottom: 30px;

    @media (max-width: 768px) {
        padding-bottom: 20px;
    }

    h2 {
        margin-bottom: 34px;

        @media (max-width: 1440px) {
            margin-bottom: 20px;
        }
    }

    // .ofice__flex

    &__flex {
        @media (min-width: 769px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 47px 20px;
        }

        @media (max-width: 768px) {
            display: block;
            & > :not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }

    // .ofice__item

    &__item {
        @media (min-width: 769px) {
            width: calc(50% - 10px);

            @media (max-width: 1440px) {
                max-width: 400px;
            }
        }

        // .ofice__item-img

        &-img {
            display: block;
            @include adaptive-value("margin-bottom", 17, 11, 1);
            position: relative;
            padding-bottom: 72.73%;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        // .ofice__item-info

        &-info {
            display: flex;
            align-items: center;

            img {
                display: block;
                @include adaptive-value("margin-right", 16, 8, 1);
                @include adaptive-value("width", 38, 30, 1);
                @include adaptive-value("height", 50, 40, 1);
            }

            button {
                svg {
                    width: 38px;
                    height: 60px;
                    flex: 0 0 auto;
                }
            }
        }

        // .ofice__item-text

        &-text {
            flex: 1 1 auto;

            p {
                @include adaptive-value("margin-bottom", 4, 0, 1);
                display: block;
                color: #0d0d0d;
                font-size: 16px;

                @media (max-width: 992px) {
                    font-size: 14px;
                }

                @media (max-width: 768px) {
                    max-width: 199px;
                    width: 100%;
                }
            }

            span {
                color: #d8160c;
                font-weight: 500;
                @include adaptive-value("font-size", 20, 16, 1);
                font-size: 20px;

                @media (max-width: 992px) {
                    font-size: 16px;
                }
            }
        }
    }
}
