.demonstration {
    margin-bottom: 0 !important;

    @media (max-width: 1440px) {
        padding-bottom: 30px;
    }

    @media (max-width: 768px) {
        padding-bottom: 20px;
    }
}

.demonstration-flex {
    display: flex;

    @media (max-width: 1440px) {
        justify-content: center;
    }

    &__links {
        // .demonstration-flex__links

        display: flex;
        flex-direction: column;
        align-items: flex-end;

        label {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    // .demonstration-flex__img

    &__img {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;

        @media (max-width: 768px) {
            width: 75%;
        }

        & > picture img,
        & > img {
            position: relative;
            border-radius: 0px 500px 500px 123px;
            object-fit: cover;
            height: 513px;

            @media (max-width: 1440px) {
                height: 451px;
            }

            @media (max-width: 768px) {
                @include adaptive-value("height", 381, 192, 1);
                object-position: right;
            }
        }

        label {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1 1 auto;
        }
    }

    .google {
        position: relative;
        z-index: 1;
        display: flex;
        width: 264px;
        height: 264px;
        padding: 20px 0px 0px 30px;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;

        border-radius: 550.44px 0px 0px 550.44px;
        background: #165fd8;
        transition: all 0.3s ease 0s;

        img {
            width: 122px;
        }

        span {
            color: #fff;
            font-size: 130px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            @media (max-width: 140px) {
                font-size: 126px;
            }

            @media (max-width: 992px) {
                font-size: 60px;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                color: #fff;
                background-color: #2879ff;
            }
        }

        @media (max-width: 1440px) {
            height: 235px;
            padding: 13px 0px 0px 30px;
        }

        @media (max-width: 992px) {
            padding: 10px 9px 16px 25px;
            height: 128px;
            width: 123px;

            img {
                width: 85px;
            }

            span {
                font-size: 52px;
            }
        }
    }

    .link-counter {
        // pointer-events: none;
        // opacity: 0;

        &.start {
            opacity: 1;
        }
    }

    .gis {
        position: relative;
        z-index: 2;
        display: flex;
        width: 209px;
        height: 209px;
        padding-top: 14px;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;

        border-radius: 417px;
        background: #2e7d10;

        position: relative;
        left: 69px;
        margin-top: -29px;

        transition: all 0.3s ease 0s;

        img {
            width: 129px;
        }

        span {
            color: #fff;
            font-size: 100px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            @media (max-width: 1440px) {
                font-size: 96px;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                color: #fff;
                background-color: #3b9f15;
            }
        }

        @media (max-width: 1440px) {
            left: 120px;
            margin-top: -50px;
        }

        @media (max-width: 992px) {
            padding: 16px;
            height: 118px;
            width: 118px;
            left: 24px;
            margin-top: -10px;

            img {
                width: 85px;
            }

            span {
                font-size: 40px;
            }
        }
    }

    .yandex {
        position: relative;
        z-index: 1;
        display: flex;
        width: 351px;
        height: 131px;
        align-items: center;
        border-radius: 109px;
        background: #ede100;

        position: relative;
        right: 141px;
        margin-top: -65px;

        transition: all 0.3s ease 0s;

        img {
            width: 125px;
        }

        span {
            color: #2b3131;
            font-size: 100px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            min-width: 110px;
            padding-left: 23px;

            @media (max-width: 1440px) {
                font-size: 96px;
            }

            @media (max-width: 992px) {
                min-width: 42px;
            }

            @media (max-width: 768px) {
                padding-left: 0;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: #fff314;
            }
        }

        @media (max-width: 1440px) {
            right: 0;
            margin-top: -102px;
        }

        @media (max-width: 992px) {
            height: 74px;
            padding: 16px 20px;
            width: fit-content;

            @include adaptive-value("margin-top", -102, -16, 1);

            img {
                width: 85px;
                margin-left: 11px;
            }

            span {
                font-size: 36px;
            }
        }
    }
}
