.features {
    padding-bottom: 60px;

    @media (max-width: 768px) {
        padding-bottom: 32px;
    }
}

.features-flex {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    position: relative;

    // .features-flex__links

    &__links {
        width: 254px;
        flex: 0 0 auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media (max-width: 1366px) {
            width: 220px;
        }

        @media (max-width: 768px) {
            width: 102px;
        }
    }

    .features-link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        font-size: 32px;
        line-height: normal;
        color: #fff;
        position: relative;
        text-align: center;

        @media (any-hover: hover) {
            &:hover {
                color: #fff;
            }
        }

        @media (max-width: 1366px) {
            font-size: 24px;
        }

        @media (max-width: 768px) {
            font-size: 14px;
        }

        .icon {
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            flex: 0 0 auto;

            @media (max-width: 768px) {
                width: 48px;
                height: 48px;
            }
        }

        * {
            cursor: pointer;
        }
    }

    .proekt {
        background-color: #d8160c;
        border-radius: 500px 0 0 500px;
        height: 220px;
        padding-left: 25px;
        width: 100%;

        @media (max-width: 768px) {
            height: 109px;
            padding-left: 18px;
        }
    }

    .depozit {
        background-color: #2b3131;
        border-radius: 50%;
        width: 236px;
        height: 236px;
        z-index: 1;
        right: -53px;
        top: -20px;

        @media (max-width: 1366px) {
            width: 200px;
            height: 200px;
        }

        @media (max-width: 768px) {
            width: 80px;
            height: 80px;
            font-size: 12px;
            padding-top: 7px;
            justify-content: flex-start;
            top: -11px;
            right: -20px;
        }
    }

    .soprovojdenie {
        flex-direction: row;
        padding: 17px 42px;
        background-color: #fff;
        border-radius: 100px;
        width: fit-content;
        z-index: 2;
        color: #000;
        max-width: 442px;

        position: absolute;

        bottom: -28px;
        left: calc(100% - 81px);

        @media (any-hover: hover) {
            &:hover {
                color: #000;
            }
        }

        @media (max-width: 1366px) {
            padding: 10px 24px;
            max-width: 350px;
            left: 100%;
        }

        @media (max-width: 768px) {
            padding: 5px 7px;
            font-size: 12px;
            max-width: 161px;
            bottom: -22px;

            left: unset;
            right: 10%;
        }

        @media (max-width: 475px) {
            right: 0;
        }

        .icon {
            @media (max-width: 768px) {
                width: 40px;
                height: 40px;
            }
        }
    }

    // .features-flex__img

    &__img {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;

        @media (max-width: 768px) {
            width: 75%;
        }

        img {
            position: relative;
            border-radius: 0px 500px 500px 123px;
            object-fit: cover;
            height: 503px;

            @media (max-width: 1366px) {
                height: 381px;
            }

            @media (max-width: 768px) {
                @include adaptive-value("height", 381, 192, 1);
                object-position: right;
            }
        }
    }
}

section.service-features {
    h2 span {
        font-weight: inherit;
    }

    h2 {
        margin-left: auto;
        margin-right: auto;
        max-width: 890px;

        @media (min-width: 1367px) {
            font-size: 32px;
        }
    }

    .features-flex__img {
        @media (max-width: 768px) {
            width: 57.5%;
        }

        img {
            @media (min-width: 1367px) {
                height: 503px;
            }

            @media (max-width: 768px) {
                @include adaptive-value("height", 330, 250, 1);
                object-position: 45%;
            }
        }
    }

    .features-flex__links {
        @media (max-width: 768px) {
            width: 146px;
        }
    }

    .proekt {
        background-color: #d8160c;

        label {
            max-width: 199px;
        }

        span {
            line-height: 1;
        }

        @media (max-width: 768px) {
            width: 100%;
            height: 151px;
            padding-right: 5px;
            padding-top: 0;
        }
    }

    .depozit {
        background-color: #2b3131;
        color: #fff;
        top: -11px;
        right: -68px;

        @media (any-hover: hover) {
            &:hover {
                color: #fff;
            }
        }

        @media (max-width: 768px) {
            right: -11px;
            top: -20px;
        }

        span {
            @media (max-width: 768px) {
                font-size: 24px;
            }
        }
    }

    .soprovojdenie {
        background-color: #fff;
        color: #2b3131;
        bottom: -75px;

        flex-direction: row;
        width: auto;
        height: 140px;
        min-width: 202%;

        @media (any-hover: hover) {
            &:hover {
                color: #2b3131;
            }
        }

        @media (max-width: 1366px) {
            height: 110px;
            min-width: 180%;
        }

        @media (max-width: 992px) {
            width: auto;
            bottom: -10px;
        }

        @media (max-width: 768px) {
            width: auto;
            height: 65px;
            max-width: 250px;
            left: calc(100% - 26px);
        }

        @media (max-width: 425px) {
            max-width: 65%;
            min-width: 200px;
            bottom: -24px;
        }

        label {
            text-align: left;
            padding-left: 20px;

            @media (max-width: 768px) {
                padding-left: 7px;
            }
        }

        span {
            @media (max-width: 768px) {
                font-size: 24px;
            }
        }
    }

    ._button {
        @media (min-width: 769px) {
            position: absolute;
            right: 10%;
            bottom: -75px;

            @media (max-width: 1366px) {
                right: 5%;
            }
        }

        @media (max-width: 768px) {
            width: 100%;
            margin-top: 44px;
        }
    }
}
