.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;

    @media (max-width: 1366px) {
        gap: 60px 37px;
    }

    @media (max-width: 768px) {
        gap: 30px;
    }
}
