#hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    overflow: hidden;

    margin-bottom: 0 !important;
    margin-top: -73px !important;

    padding-top: 128px;
    padding-bottom: 120px;
    max-height: 759px;

    @media (max-width: 1440px) {
        padding-top: 98px;
        // padding-bottom: 100px;
    }

    @media (max-width: 768px) {
        @include adaptive-value("padding-bottom", 80, 40, 1);
    }

    &:not(._shadow) {
        &:after {
            transform: translate(0, 0);
            clip-path: polygon(0% 100%, 0% 0%, 100% 100%);
            z-index: 1;
            bottom: -1px;
        }
    }

    ol {
        display: flex;
        gap: 32px;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            gap: 15px;
            padding-left: 17px;
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            &:has(img) {
                flex: 0 0 auto;
            }

            span,
            label {
                display: block;
                color: #0d0d0d;
            }

            span {
                font-size: 100px;
                font-weight: 700;
                line-height: 1;

                @media (max-width: 992px) {
                    font-size: 50px;
                }
            }

            label {
                font-size: 16px;

                @media (max-width: 992px) {
                    font-size: 14px;
                }
            }
        }
    }

    button {
        margin: 90px 0;
        z-index: 2;

        @media (max-width: 1440px) {
            margin: 70px 0;
        }

        @media (max-width: 768px) {
            margin: 36px 0 0 0;
        }
    }

    h1 {
        max-width: 728px;
        color: #0d0d0d;

        @media (max-width: 992px) {
            max-width: 500px;
        }

        @media (max-width: 768px) {
            margin-bottom: 30px;
        }

        @media (max-width: 425px) {
            br {
                display: none;
            }

            width: 106%;
        }
    }

    ._reverse {
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-start;
        }
    }

    .section__info {
        position: relative;
    }
}

.hero__bgi {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    picture {
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center bottom;
    }
}

.hero-slider {
    padding-top: 80px;
    padding-bottom: 40px;

    @media (max-width: 1440px) {
        padding-top: 60px;
    }

    @media (max-width: 992px) {
        padding-top: 10px;
    }

    &:after {
        @media (max-width: 992px) {
            display: none !important;
        }
    }

    h1 {
        max-width: 722px;

        @media (max-width: 992px) {
            text-align: center;
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;
        }
    }

    ._button {
        margin: 60px 0 12% 0;

        @media (max-width: 992px) {
            margin: 0;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: 3;
            width: 75%;
            bottom: 15px;
        }
    }

    .section__flex {
        position: relative;
        align-items: stretch;

        @media (max-width: 992px) {
            display: block;
        }

        &-left {
            width: 57%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 100%;
        }

        &-right {
            width: 43%;
            position: relative;
            left: -5%;
        }

        &-right,
        &-left {
            @media (max-width: 992px) {
                width: 100%;
                left: 0;
            }
        }
    }

    .about-slider__slider {
        max-width: 417px;

        @media (max-width: 1440px) {
            max-width: 340px;
        }
    }

    .about-slider__next {
        right: -65px;

        @media (max-width: 1440px) {
            right: -12%;
        }

        @media (max-width: 992px) {
            right: 0;
        }
    }

    .about-slider__container {
        button {
            @media (min-width: 993px) {
                top: 80%;
            }

            @media (max-width: 992px) {
                top: 52px;
            }
        }
    }

    .about-slider__prev {
        @media (min-width: 993px) {
            left: -50px;
        }
    }

    .about-slider__wrapper {
        top: 0;

        @media (min-width: 1441px) {
            height: 500px;
        }

        @media (min-width: 993px) {
            left: 0;
        }

        @media (max-width: 992px) {
            left: -5%;
            height: 420px;
        }
    }

    .about-slider__slide {
        top: 0;
        height: 100%;
    }

    .person__card-info {
        max-width: 392px;
        display: block;

        transition: none;

        @media (any-hover: hover) {
            &:hover {
                color: #fff !important;
            }
        }

        @media (max-width: 992px) {
            width: 100vw;
            margin-left: -20px;
            border-radius: 0;
            padding-bottom: 70px;
            max-width: none;
        }

        p {
            overflow: unset;
            max-height: unset;

            @media (min-width: 993px) {
                font-size: 16px;
            }
        }

        h3 {
            font-size: 24px;

            @media (max-width: 992px) {
                margin-bottom: 8px;
                font-size: 22px;
            }
        }

        ol li {
            label {
                font-size: 14px;

                @media (max-width: 992px) {
                    font-size: 10px;
                }
            }

            span {
                font-size: 45px;

                @media (max-width: 992px) {
                    font-size: 50px;
                }
            }
        }
    }

    .about-slider__flex {
        display: block;
        margin-top: -80px;

        @media (max-width: 992px) {
            margin-top: 0;
        }

        &:before {
            width: 100%;
        }
    }

    .person__card-info {
        position: absolute;
        bottom: 0;
        z-index: 2;

        @media (min-width: 993px) {
            max-width: 423px;
        }
    }

    .lowers {
        margin-top: 86px;

        @media (max-width: 1440px) {
            margin-top: 40px;
        }

        @media (max-width: 768px) {
            margin-top: 30px;
        }
    }
}

.lowers {
    display: flex;
    justify-content: center;
    gap: 40px;

    @media (max-width: 768px) {
        display: block;
        gap: 0;

        & > :not(:last-child) {
            margin-bottom: 16px;
        }
    }

    // .lowers-item

    &-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &:first-child .icon {
            opacity: 0.15;
        }

        &:last-child {
            min-width: 33%;

            @media (max-width: 768px) {
                min-width: unset;
            }

            span {
                max-width: 280px;

                @media (max-width: 768px) {
                    max-width: none;
                }
            }
        }

        @media (max-width: 768px) {
            margin-left: auto;
            max-width: 280px;
            margin-right: auto;
        }

        .icon {
            height: 64px;
            margin-bottom: 12px;

            @media (max-width: 992px) {
                height: 40px;
            }

            img,
            svg {
                height: 100%;
            }
        }

        label {
            display: block;

            margin-bottom: 8px;
            font-size: 30px;
            font-weight: 500;

            @media (max-width: 992px) {
                font-size: 16px;
            }
        }

        span {
            font-size: 16px;

            @media (max-width: 992px) {
                font-size: 12px;
            }
        }
    }
}

.rewview-list {
    display: flex;
    gap: 55px;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 44px;
    }

    a {
        display: block;
        filter: grayscale(1);
        transition: filter 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                filter: grayscale(0);
            }
        }

        @media (any-hover: none) {
            filter: grayscale(0);
        }

        img {
            height: 66px;

            @media (max-width: 768px) {
                height: 36px;
            }
        }
    }
}

#office-hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    overflow: hidden;

    margin-bottom: 0 !important;
    margin-top: -73px !important;

    padding-top: 128px;
    padding-bottom: 120px;

    @media (max-width: 1440px) {
        padding-top: 98px;
    }

    @media (max-width: 992px) {
        padding-bottom: 40px;
        background-color: transparent;
    }

    @media (max-width: 768px) {
        padding-top: 75px;
    }

    &:not(._shadow) {
        &:after {
            transform: translate(0, 0);
            clip-path: polygon(0% 100%, 0% 0%, 100% 100%);
            z-index: 1;
            bottom: -1px;

            @media (max-width: 992px) {
                display: block !important;
                background-color: #fff;
            }
        }
    }

    h1 {
        @media (max-width: 768px) {
            font-size: 21px;
        }
    }
}

.office-hero {
    .hero__bgi {
        &:after {
            position: absolute;
            content: "";
            inset: 0;
            background:
                linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%),
                linear-gradient(180deg, rgba(245, 245, 245, 0) 75.76%, #f5f5f5 143.25%),
                lightgray 13.5px -81px / 99.302% 109.533% no-repeat;
            filter: blur(0.5px);
            opacity: 0.8;
            pointer-events: none;
        }
    }

    .lowers a {
        color: #d8160c;
    }

    .lowers-item:first-child .icon {
        opacity: 1;
    }

    .about-slider__flex:before {
        background-color: #dcdfd4;
    }

    .about-slider__slide._next {
        opacity: 0.85;
    }

    .person__card-info p {
        display: none;
    }

    .person__card-info ol li img {
        @media (min-width: 993px) {
            width: 48px;
        }
    }

    @media (max-width: 992px) {
        .person__card-info p {
            display: none;
        }

        .person__card-info ol li:has(img) {
            display: none;
        }

        .person__card-info ol li label {
            font-size: 12px;
        }

        .person__card-info ol li span {
            font-size: 45px;
            width: 50%;
        }

        .person__card-info h3 {
            margin-bottom: 2px;
        }

        .person__card-info {
            padding-bottom: 65px;
            padding-top: 8px;
        }

        .person__card-info ol {
            margin-top: 0;
        }

        ._button {
            width: 100%;
            bottom: 10px;
        }
    }

    @media (max-width: 768px) {
        .lowers {
            display: none !important;
        }

        padding-bottom: 0 !important;

        &:after {
            display: none !important;
            opacity: 0;
            visibility: hidden;
        }
    }
}

._after-pl-hero._pl {
    margin-top: 0 !important;
}
