.section {
    // .section__container

    &__container {
    }

    // .section__body

    &__body {
    }
}

.ofice {
    padding-top: 20px;
    padding-bottom: 30px;

    @media (max-width: 768px) {
        padding-bottom: 20px;
    }

    h2 {
        @include adaptive-value("margin-bottom", 34, 20, 1);
    }

    // .ofice__flex

    &__flex {
        @media (min-width: 769px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 47px 20px;
        }

        @media (max-width: 768px) {
            display: block;
            & > :not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }

    // .ofice__item

    &__item {
        @media (min-width: 769px) {
            width: calc(50% - 10px);
        }

        // .ofice__item-img

        &-img {
            display: block;
            @include adaptive-value("margin-bottom", 17, 11, 1);
            position: relative;
            padding-bottom: 72.73%;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        // .ofice__item-info

        &-info {
            display: flex;
            align-items: center;

            img {
                display: block;
                @include adaptive-value("margin-right", 16, 8, 1);
                @include adaptive-value("width", 38, 30, 1);
                @include adaptive-value("height", 50, 40, 1);
            }

            button {
                svg {
                    width: 38px;
                    height: 60px;
                    flex: 0 0 auto;
                }
            }
        }

        // .ofice__item-text

        &-text {
            flex: 1 1 auto;

            p {
                color: #0d0d0d;
                @include adaptive-value("font-size", 16, 14, 1);
                display: block;
                @include adaptive-value("margin-bottom", 4, 0, 1);

                @media (max-width: 768px) {
                    max-width: 199px;
                    width: 100%;
                }
            }

            span {
                color: #d8160c;
                @include adaptive-value("font-size", 20, 16, 1);
            }
        }
    }
}
