.person-page {
    max-height: 788px !important;
    padding-top: 54px !important;
    background-color: #f5f5f5 !important;
    padding-bottom: 90px !important;

    @media (max-width: 768px) {
        padding-top: 70px !important;
        padding-bottom: 30px !important;
    }

    p {
        color: #0d0d0d;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 129px;
        margin-top: 30px;

        @media (max-width: 1440px) {
            margin-bottom: 70px;
            font-size: 20px;
        }

        @media (max-width: 992px) {
            font-size: 16px;
            margin-bottom: 50px;
            margin-top: 20px;
            max-width: 250px;
            width: 100%;
        }

        @media (max-width: 768px) {
            font-size: 12px;
        }

        @media (max-width: 425px) {
            margin-top: 10px;
            margin-bottom: 30px;
            max-width: 183px;
        }
    }

    .section__info {
        padding-top: 60px;

        @media (max-width: 992px) {
            padding-top: 30px;
        }

        @media (max-width: 768px) {
            padding-top: 15px;
        }
    }

    .section__imagebox {
        @media (max-width: 992px) {
            top: 15px;
        }

        @media (max-width: 768px) {
            right: -60px;
        }

        img {
            width: 427px;
            display: block;
            position: relative;
            object-fit: cover;

            @media (max-width: 992px) {
                width: 288px;
            }
        }
    }

    ol {
        align-items: center;

        img {
            width: 132px;

            @media (max-width: 992px) {
                width: 58px;
            }
        }

        li {
            span {
                @media (min-width: 993px) {
                    font-size: 130px;
                }
            }
        }

        @media (max-width: 768px) {
            padding-left: 0 !important;
            flex-direction: column-reverse !important;
            width: fit-content !important;
            max-width: 90px;
        }
    }

    &._shadow:after {
        background-color: #f5f5f5;
        box-shadow: 0px 0px 25px 30px #f5f5f5 !important;
        z-index: 1 !important;
    }
}

.person-page + .advantages {
    @media (max-width: 768px) {
        padding-top: 65px;
    }
}

.education {
    padding-top: 50px;
    padding-bottom: 25px;

    @media (max-width: 768px) {
        padding-top: 40px;
    }

    h2 {
        @media (min-width: 769px) {
            text-align: left;
        }
    }

    ol {
        max-width: 505px;
        width: 100%;
        margin-top: 20px;

        & > :not(:last-child) {
            margin-bottom: 20px;
        }

        @media (max-width: 768px) {
            margin-bottom: 30px;
        }

        li {
            display: flex;
            align-items: center;

            color: #0d0d0d;
            font-size: 24px;
            font-weight: 400;

            @media (max-width: 1440px) {
                font-size: 20px;
            }

            @media (max-width: 992px) {
                font-size: 16px;
            }

            @media (max-width: 768px) {
                align-items: flex-start;
            }

            img {
                width: 35px;
                margin-right: 12px;
            }

            span {
                color: #d8160c;
            }
        }
    }

    .section__flex {
        // .section__flex-left

        &-left {
            max-width: 505px;
            margin-right: 40px;

            @media (max-width: 768px) {
                margin-right: 0;
            }

            @media (max-width: 425px) {
                width: 100%;
            }
        }

        // .section__flex-right

        &-right {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 446px;

            @media (max-width: 768px) {
                max-width: 455px;
            }

            @media (max-width: 768px) {
                display: block;
            }
        }
    }

    // .education__gallery

    &__gallery {
        margin-bottom: 30px;
        width: 100%;
        flex: 0 0 auto;

        & > :not(:last-child) {
            margin-bottom: 10px;
        }

        @media (max-width: 1024px) {
            margin-bottom: 20px;
        }

        // .education__gallery-item

        &-item {
            max-width: calc(100% / 3 - 7px);
        }

        // .education__gallery-row

        &-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }

        .gallery-1 {
            .education__gallery-item {
                width: calc(100% / 3 - 2 / 3 * 10px);
            }
        }

        .gallery-2 {
            .education__gallery-item {
                width: calc(25% - 3 / 3 * 10px);
            }
        }

        .gallery-3 {
            .education__gallery-item {
                width: calc(100% / 3 - 2 / 3 * 10px);
            }
        }
    }

    .view-more {
    }
}

.calendar {
    padding-top: 20px;
    padding-bottom: 20px;

    h2 {
        text-align: left;
        color: #000;

        @media (max-width: 768px) {
            text-align: center;
            margin-bottom: 10px;
        }
    }

    p {
        color: #000;
        font-size: 24px;
        font-weight: 400;
        margin-top: 37px;
        margin-bottom: 92px;
        max-width: 465px;
        width: 100%;

        @media (max-width: 992px) {
            margin-top: 16px;
            font-size: 16px;
            margin-bottom: 50px;
        }

        @media (max-width: 768px) {
            padding: 0 10%;
            margin-bottom: 20px;
            text-align: center;
        }
    }

    .section__flex-left {
        max-width: calc(50% - 40px);

        @media (max-width: 768px) {
            max-width: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        img {
            @media (max-width: 1024px) {
                width: 400px;
            }
        }
    }

    .section__flex-right {
        @media (max-width: 992px) {
            width: calc(50% + 40px);
            padding-left: 20px;
        }

        @media (max-width: 768px) {
            padding-left: 0;
            width: 100%;
            display: flex;
            flex-direction: column;

            align-items: center;
            justify-content: center;
        }
    }

    ._button {
        color: #fff !important;
    }
}
