.section {
    &._pl {
        position: relative;
        background-color: #fff;

        @include adaptive-value("margin-top", 80, 20, 1);
        @include adaptive-value("margin-bottom", 80, 20, 1);

        &:before,
        &:after {
            position: absolute;
            left: 0;
            display: block;
            content: "";
            width: 100%;
            height: 80px;
            background-color: inherit;

            @include adaptive-value("height", 80, 20, 1);
        }

        &:before {
            top: 0;
            transform: translate(0, -100%);
            clip-path: polygon(0% 100%, 0% 0%, 100% 100%);
        }

        &:after {
            bottom: 0;
            transform: translate(0, 100%);
            clip-path: polygon(0% 0%, 100% 0, 100% 100%);
        }

        // ._pl-top

        &-top {
            margin-bottom: 0 !important;

            &:after {
                display: none;
            }
        }

        // ._pl-bottom

        &-bottom {
            margin-top: 0 !important;

            &:before {
                display: none;
            }
        }
    }

    // .section__container

    &__container {
    }

    // .section__body

    &__body {
    }
}

.filter {
    // .filter__btn

    &__btn {
        position: relative;
        margin-bottom: 30px;

        @media (max-width: 1366px) {
            margin-bottom: 15px;
        }

        &:after {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100vw;
            min-height: 400vh;
            z-index: 16;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 16px;
            border-radius: 50px;
            background-color: #d8160c;
            transition: all 0.5s;
            cursor: pointer;

            @media (max-width: 425px) {
                margin-inline: auto;
            }

            label {
                color: #fff;
                font-family: Inter;
                font-size: 16px;
                font-weight: 700;
                pointer-events: none;
            }

            img,
            svg {
                transition: all 0.3s ease 0s;

                width: 15px;
                flex: 0 0 auto;
                pointer-events: none;
                margin-left: 10px;
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            padding: 16px;
            border-radius: 24px;
            background: rgba(255, 255, 255, 0.3);
            position: absolute;
            top: calc(100% + 40px);
            left: 0;
            z-index: 17;

            transform: translate3d(0%, -10%, 0);
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease 0s;
            width: 100%;

            li {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px 16px;
                height: fit-content;
                width: fit-content;
                border-radius: 24px;
                background-color: #fff;
                box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);

                color: #5e5e5e;
                font-family: Inter;
                font-size: 16px;
            }

            ._selected {
                background-color: #d8160c;
                color: #fff;
            }
        }

        &._active {
            button {
                img,
                svg {
                    transform: rotate(-180deg);
                }
            }

            &:after {
                content: "";
            }

            ul {
                overflow: visible;
                opacity: 1;
                visibility: visible;
                transform: translate3d(0%, 0, 0);
            }
        }
    }
}

.view {
    // .view-more

    &-more {
        margin-inline: auto;
        display: flex;
        align-items: center;

        span {
            display: block;
            white-space: nowrap;
            color: #000;
            font-size: 16px;
            position: relative;

            &:after {
                position: absolute;
                content: "";
                left: 0;
                bottom: -1px;
                width: 100%;
                height: 1px;
                background-color: #000;
            }
        }

        img,
        svg {
            margin-left: 9px;
            width: 15px;
            height: 6px;
        }
    }
}

#victory {
    padding-bottom: 60px;

    .grid {
        margin-bottom: 160px;

        @media (max-width: 1366px) {
            margin-bottom: 120px;
        }
    }
}

#victory-swiperblock {
    padding-top: 20px;
    padding-bottom: 20px;

    @media (max-width: 992px) {
        padding-top: 60px;
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-bottom: 120px;

        @media (max-width: 768px) {
            flex-direction: column-reverse;
            margin-bottom: 90px;
        }

        p {
            display: block;
            color: #2b3131;
            font-size: 20px;
            line-height: 130%;
            margin-left: 80px;

            span {
                color: #d8160c;
                font-weight: 700;
            }

            @media (max-width: 992px) {
                margin-left: 40px;
            }

            @media (max-width: 768px) {
                text-align: center;
                margin-bottom: 43px;
                margin-left: 0;
                font-weight: 500;
                font-size: 16px;
                font-weight: 500;

                label {
                    font-weight: 500;
                }
            }
        }

        .swiper {
            box-shadow: 0px 0px 14.89655px 0px rgba(0, 0, 0, 0.17);

            max-width: 252px;
            height: 339px;
            width: 100%;

            @media (max-width: 1366px) {
                max-width: 233px;
                height: 314px;
            }

            @media (max-width: 768px) {
                max-width: 246px;
                height: 333px;
            }
        }
    }

    .bottom {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @media (max-width: 1366px) {
            justify-content: center;
        }

        @media (max-width: 992px) {
            flex-direction: column;
            align-items: center;
        }

        & > :first-child {
            max-width: 390px;

            @media (max-width: 992px) {
                max-width: unset;
                margin-bottom: 20px;
            }
        }

        & > :last-child {
            max-width: 664px;
            margin-left: 30px;

            @media (max-width: 1366px) {
                max-width: 580px;
                padding-top: 46px;
                margin-left: 10px;
            }

            @media (max-width: 992px) {
                padding-top: 0px;
                margin-left: 0;
            }
        }

        div {
            width: 100%;

            h2 {
                display: block;
                color: #0d0d0d;
                font-size: 32px;
                font-weight: 500;
                margin-bottom: 61px;

                @media (max-width: 1366px) {
                    margin-bottom: 85px;
                }

                @media (max-width: 992px) {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 28px;
                    font-size: 16px;
                }
            }

            ol {
                & > :not(:last-child) {
                    margin-bottom: 41px;
                }

                @media (max-width: 1366px) {
                    & > :not(:last-child) {
                        margin-bottom: 20px;
                    }
                }

                @media (max-width: 992px) {
                    & > :not(:last-child) {
                        margin-bottom: 8px;
                    }
                }

                li {
                    padding-left: 20px;
                    color: #000;
                    font-size: 20px;
                    font-weight: 300;

                    position: relative;

                    &:before {
                        position: absolute;
                        content: "";
                        left: 0;
                        top: 5px;
                        width: 11px;
                        height: 11px;
                        border-radius: 50%;
                        background-color: #d8160c;
                    }

                    @media (max-width: 768px) {
                        font-size: 14px;
                    }
                }
            }

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }
}

#feedback {
    margin-bottom: 0 !important;

    @media (max-width: 1366px) {
        padding-bottom: 30px;
    }

    @media (max-width: 768px) {
        padding-bottom: 20px;
    }

    .feedback-flex {
        display: flex;

        @media (max-width: 1366px) {
            justify-content: center;
        }

        &__links {
            // .feedback-flex__links

            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        // .feedback-flex__img

        &__img {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: relative;

            @media (max-width: 768px) {
                width: 75%;
            }

            & > img {
                position: relative;
                border-radius: 0px 500px 500px 123px;
                object-fit: cover;
                height: 513px;

                @media (max-width: 1366px) {
                    height: 381px;
                }

                @media (max-width: 768px) {
                    @include adaptive-value("height", 381, 192, 1);
                    object-position: right;
                }
            }
        }

        .google {
            position: relative;
            z-index: 1;
            display: flex;
            width: 264px;
            height: 264px;
            padding: 20px 0px 0px 30px;
            flex-direction: column;
            align-items: center;
            flex-shrink: 0;

            border-radius: 550.44px 0px 0px 550.44px;
            background: #165fd8;
            transition: all 0.3s ease 0s;

            img {
                width: 122px;
            }

            span {
                color: #fff;
                font-family: Ubuntu;
                font-size: 126px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            @media (any-hover: hover) {
                &:hover {
                    color: #fff;
                    background-color: #2879ff;
                }
            }

            @media (max-width: 1366px) {
                height: 235px;
                padding: 13px 0px 0px 30px;
            }

            @media (max-width: 768px) {
                padding: 10px 9px 16px 25px;
                height: 128px;
                width: 123px;

                img {
                    width: 85px;
                }

                span {
                    font-size: 52px;
                }
            }
        }

        .link {
            // .link-counter

            &-counter {
                pointer-events: none;
            }
        }

        .gis {
            position: relative;
            z-index: 2;
            display: flex;
            width: 209px;
            height: 209px;
            padding-top: 14px;
            flex-direction: column;
            align-items: center;
            flex-shrink: 0;

            border-radius: 417px;
            background: #2e7d10;

            position: relative;
            left: 69px;
            margin-top: -29px;

            transition: all 0.3s ease 0s;

            img {
                width: 129px;
            }

            span {
                color: #fff;
                font-family: Ubuntu;
                font-size: 96px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            @media (any-hover: hover) {
                &:hover {
                    color: #fff;
                    background-color: #3b9f15;
                }
            }

            @media (max-width: 1366px) {
                left: 120px;
                margin-top: -50px;
            }

            @media (max-width: 768px) {
                padding: 16px;
                height: 118px;
                width: 118px;
                left: 24px;
                margin-top: -10px;

                img {
                    width: 85px;
                }

                span {
                    font-size: 40px;
                }
            }
        }

        .yandex {
            position: relative;
            z-index: 1;
            display: flex;
            width: 351px;
            height: 131px;
            justify-content: center;
            align-items: center;
            border-radius: 109px;
            background: #ede100;

            position: relative;
            right: 141px;
            margin-top: -65px;

            transition: all 0.3s ease 0s;

            img {
                width: 125px;
                margin-left: 17px;
            }

            span {
                color: #2b3131;
                font-family: Ubuntu;
                font-size: 96px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            @media (any-hover: hover) {
                &:hover {
                    background-color: #fff314;
                }
            }

            @media (max-width: 1366px) {
                right: 0;
                margin-top: -102px;
            }

            @media (max-width: 768px) {
                height: 74px;
                padding: 16px 20px;
                width: fit-content;

                @include adaptive-value("margin-top", -102, -16, 1);

                img {
                    width: 85px;
                    margin-left: 11px;
                }

                span {
                    font-size: 36px;
                }
            }
        }
    }
}

#feedback-gallery {
    .filter__btn {
        margin-bottom: 50px;

        @media (max-width: 768px) {
            margin-bottom: 20px;

            button {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .grid {
        margin-bottom: 40px;
        grid-template-columns: repeat(4, 1fr);
        place-content: center;

        @media (max-width: 992px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            place-content: center;
            justify-items: center;
        }

        .feedback__card {
            height: 286px;
            width: 205px;

            a {
                display: block;
                height: 100%;

                img {
                    height: 100%;
                }
            }

            @media (max-width: 768px) {
                width: 100px;
                height: 140px;
            }
        }
    }
}
