section.table {
    padding-top: 64px;
    padding-bottom: 100px;

    @media (max-width: 768px) {
        padding-top: 25px;
        padding-bottom: 40px;
    }

    h2 {
        margin-bottom: 60px;

        @media (max-width: 1366px) {
            margin-bottom: 22px;
        }
    }
}

.table-container {
    width: 100%;
}

table {
    width: 100%;
    min-width: 960px;
    transition: all 0.5s;

    outline: none;
    border-collapse: collapse;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
}

.table-scrollbar {
    display: none;
    transition: all 0.3s ease 0s;
    margin-bottom: 22px;

    @media (max-width: 992px) {
        height: 4px;
        background-color: #cbcbcb;
        position: relative;
        pointer-events: none;
        border-radius: 100px;
    }

    span {
        display: block;
        content: "";
        height: 4px;
        left: 0;
        top: 0;
        position: absolute;
        background-color: #d8160c;
        border-radius: 100px;
        width: 100%;
    }
}

.table-container {
    @media (max-width: 922px) {
        transform: rotateX(180deg);
        padding-bottom: 10px;
    }

    table {
        transform: rotateX(180deg);
    }
}

.table-tarif {
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    border-bottom: 1px solid #000000;
}

.table-tarif th {
    padding: 14px 0 9px;
}

.table-tarif th:first-child {
    text-align: left;
}

table td {
    width: 100px;
    font-size: 20px;
    padding: 12px 0;
    font-weight: 300;
    line-height: 23px;
    text-align: center;
    vertical-align: middle;
}

table tr td:first-child {
    padding: 12px 100px 12px 0;
    width: 420px;
    text-align: left;
}

.table-month td {
    font-weight: 400;
}

.table-month td:first-child {
    font-weight: 300;
}

.table-option td {
    font-weight: 400;
    color: #009a1b;
}

.table-option td:first-child {
    font-weight: 300;
    color: #000000;
}

.table-option td.red {
    color: #b70d05;
}

.table-pay td {
    font-weight: 500;
}

.table-day,
.table-date,
.table-option,
.table-pay {
    border-top: 1px solid #c1c1c1;
}

table .table-pay td {
    padding: 12px 0 14px;
}

table td[data-index="3"],
table td[data-index="4"] {
    background-color: #f5f5f5;
}

table th[data-index="3"] {
    border-radius: 24px 0 0 0;
    background-color: #f5f5f5;
}

table th[data-index="4"] {
    border-radius: 0 24px 0 0;
    background-color: #f5f5f5;
}

.table-pay td[data-index="3"] {
    border-radius: 0 0 0 24px;
}

.table-pay td[data-index="4"] {
    border-radius: 0 0 24px 0;
}

@media (max-width: 1366px) {
    table tr td:first-child {
        padding: 12px 0 12px 0;
        width: 280px;
    }
}

@media (max-width: 992px) {
    table tr td:first-child {
        padding: 12px 5px 12px 0;
    }

    table th[data-index="3"],
    table th[data-index="4"],
    table td[data-index="3"],
    table td[data-index="4"] {
        background-color: initial;
    }

    .tables-block {
        display: flex;
    }

    .table-container table {
        min-width: 950px;
    }

    .table-container .table-tarif th:first-child,
    .table-container table tr td:first-child {
        position: sticky;
        left: 0;
        background-color: #ffffff;
    }

    .table-container {
        overflow-x: auto;

        &::-webkit-scrollbar {
            height: 4px;
            background-color: #cbcbcb;
            border-radius: 100px;
        }

        &::-webkit-scrollbar-thumb {
            height: 4px;
            background-color: #d8160c;
            border-radius: 100px;
        }
    }

    .table-container .table-tarif th:first-child,
    .table-container table tr td:first-child {
        width: 180px;
    }

    table tr td:first-child {
        font-size: 16px;
        line-height: 18px;
        padding: 15px 5px 15px 0;
    }
}
