.victory {
    padding-bottom: 60px;

    .grid {
        margin-bottom: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media (max-width: 1440px) {
            margin-bottom: 60px;
        }

        @media (max-width: 992px) {
            margin-bottom: 40px;
        }

        @media (max-width: 475px) {
            flex-direction: column;
            justify-content: flex-start;
        }

        &-item {
            width: calc(100% / 3 - 40px);

            @media (max-width: 1440px) {
                width: calc(25% - 3 / 4 * 37px);
            }

            @media (max-width: 992px) {
                width: calc(100% / 3 - 2 / 3 * 37px);
            }
            @media (max-width: 768px) {
                width: calc(50% - 37px);
            }

            @media (max-width: 540px) {
                width: 100%;
            }
        }
    }

    .grid._has-items {
        min-height: 515px;

        @media (max-width: 1440px) {
            min-height: 274px;
        }
    }
}

.victory-swiperblock {
    padding-top: 20px;
    padding-bottom: 120px;

    @media (max-width: 992px) {
        padding-top: 60px;
    }

    @media (max-width: 768px) {
        flex-direction: column-reverse;
        padding-bottom: 34px;
    }

    .section__flex {
        justify-content: center;

        p {
            display: block;

            @media (max-width: 768px) {
                text-align: center;
                margin-bottom: 20px;

                max-width: 320px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        &-left {
            max-width: 302px;

            @media (max-width: 1440px) {
                max-width: 222px;
            }

            @media (max-width: 768px) {
                max-width: 250px;
            }
        }

        &-right {
            padding-left: 60px;
            flex: 1 1 auto;
            width: auto;
            max-width: 640px;

            @media (max-width: 992px) {
                padding-left: 40px;
            }

            @media (max-width: 768px) {
                padding-left: 0;
                flex: unset;
            }
        }

        .swiper {
            width: 302px;
            box-shadow: 0px 0px 14.89655px 0px rgba(0, 0, 0, 0.17);

            @media (max-width: 1440px) {
                width: 222px;
            }

            @media (max-width: 768px) {
                width: 250px;
            }

            .swiper-slide {
                height: 427px;

                @media (max-width: 1440px) {
                    height: 314px;
                }

                @media (max-width: 768px) {
                    height: 353px;
                }

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    // .victory-swiperblock__title

    &__title {
        display: block;
        margin-bottom: 30px;
        max-width: 190px;
        margin-left: auto;
        margin-right: auto;
        color: #d8160c;
        text-align: center;
        text-shadow: 0px 0px 14.896552085876465px rgba(0, 0, 0, 0.1);
        font-size: 16px;
        line-height: normal;
        font-weight: 500;

        @media (max-width: 1440px) {
            margin-bottom: 16px;
        }

        @media (max-width: 768px) {
            font-size: 14px;
            max-width: 170px;
        }
    }
}
