// null default styles
@import "null";

// load fonts
@import "fonts";

//load variables
@import "common/variables";

// load mixins
@import "mixins";

// load swiper
@import "../../node_modules/swiper/swiper";

// load common
@import "common/common";

// load header
@import "common/header";

// load footer
@import "common/footer";

// load side fixed
@import "common/side-fixed";

// load footer
@import "common/menu";

// load popup
@import "common/popup";

// load toolbar
@import "parts/toolbar";

// load accordeon
@import "common/accordeon";

// load error 404
@import "common/404";

// load to top
@import "common/to-top";

// load ticker
// @import "common/ticker";

// load animations
@import "common/animations";

// load section
@import "parts/section";

// load card
@import "parts/cards";

// load grid
@import "parts/grid";

// load hero
@import "parts/hero";

// load victory
@import "parts/victory";

// load map
@import "parts/map";

// load demonstratoin
@import "parts/demonstratoin";

// load features
@import "parts/features";

// load services
@import "parts/services";

// load callback
@import "parts/callback";

// load advantages
@import "parts/advantages";

// load person-page
@import "parts/person-page";

// load about
@import "parts/about";

// load team
@import "parts/team";

// load table
@import "parts/table";

// load contacts
@import "parts/contacts";

body:has(.new-font) {
    * {
        font-family: "Ubuntu", "sans-serif";
    }

    @media (min-width: 769px) {
        .menu nav a,
        .header__left a {
            font-size: 24px;
        }

        .header__logo img,
        .header__logo svg {
            width: 207px;
        }

        .header__phone {
            font-size: 24px;
            font-weight: 500;
        }

        .header__left,
        .header__right {
            width: calc(50% - 151px);
            flex: 0 0 auto;
        }

        .header__body {
            height: 86px;
        }

        .header__center {
            flex: 0 0 auto;
        }

        .header__left ul {
            margin-right: 0;
        }

        .header__city {
            margin-left: 0;
        }

        ._socials label,
        .header__city-btn,
        .breadcrumbs ul {
            font-size: 14px;
        }

        .hero-slider {
            .section__flex {
                align-items: stretch;
            }

            .section__flex-left {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                min-height: 100%;
            }

            ._button {
                margin-bottom: 12%;
            }
        }

        h1 {
            font-size: 45px;
            font-weight: 700;
            max-width: none;
        }

        ._button {
            font-size: 24px;
            font-weight: 500;
            height: 54px;

            @media (max-width: 1440px) {
                height: 46px;
            }
        }

        .hero-slider .person__card-info {
            max-width: 392px;
        }

        .person__card-info h3 {
            font-size: 24px;
            font-weight: 500;
        }

        .person__card-info p {
            overflow: unset;
            max-height: unset;
            font-size: 16px;
        }

        .person__card-info ol li span {
            font-size: 45px;
        }

        .person__card-info ol li label {
            font-size: 14px;
        }

        .person__card-info ol li img {
            width: 62px;
            max-height: 75px;
            object-fit: contain;
        }

        @media (min-width: 1441px) {
            .about-slider__wrapper {
                height: 500px;
            }

            .about-slider__slider {
                max-width: 417px;
            }

            .about-slider__next {
                right: -65px;
            }
        }

        @media (min-width: 993px) {
            .about-slider__container button {
                top: 80%;
            }

            .about-slider__prev {
                left: -50px;
            }
        }

        .hero-slider .lowers {
            @media (min-width: 1441px) {
                margin-top: 86px;
            }
        }

        .lowers-item {
            max-width: none;

            &:last-child {
                min-width: 33%;

                span {
                    max-width: 280px;
                }
            }
        }

        .lowers-item label {
            font-size: 30px;
            font-weight: 500;
        }

        .lowers-item span {
            font-size: 16px;
        }

        .section-map .section__flex h2,
        h2 {
            font-size: 30px !important;
            font-weight: 500;
        }

        .features-flex .features-link label {
            font-size: 24px;
            font-weight: 500;
        }

        @media (min-width: 1441px) {
            section.service-features .depozit {
                top: -31px;
                justify-content: center;
                padding-bottom: 20px;
            }

            section.service-features .soprovojdenie {
                bottom: -50px;
                left: calc(100% - 57px);
            }

            section.service-features ._button {
                right: 0;
            }

            section.service-features .features-flex__img img {
                height: 500px;
            }
        }

        section.service-features .proekt {
            background-color: #d8160c;
            justify-content: center;
            padding-bottom: 40px;
        }

        .features-flex .features-link span {
            font-size: 100px;
        }

        .table-month td:first-child,
        table td,
        .table-pay td {
            font-weight: 400;
        }

        .table-date,
        .table-date {
            td {
                &:not(:first-child) {
                    font-weight: 300;
                }
            }
        }

        .table .section__buttons {
            justify-content: space-between;
        }

        .table-pay td {
            &:not(:first-child) {
                font-weight: 700;
                font-size: 24px;
            }
        }

        .table-option td:first-child {
            font-weight: 400;
        }

        @media (min-width: 1441px) {
            .clients h2 {
                margin-bottom: 60px;
            }
        }

        .table ._button-construct {
            margin: 0;
        }

        .whatsapp-slider h2,
        .callback-text .section__flex-left p,
        .victory-swiperblock .section__flex p {
            font-size: 30px;
            font-weight: 400;

            span,
            a {
                font-weight: 400;
            }
        }

        .victory-swiperblock .section__flex {
            .section__flex-left {
                max-width: 302px;
            }

            .swiper {
                width: 302px;
            }

            .swiper-slide {
                height: 427px;
            }
        }

        .callback-text .section__flex-left {
            padding-right: 72px;
        }

        .whatsapp-slider p,
        .whatsapp-slider ._button {
            max-width: 557px;
            width: 100%;
        }

        .whatsapp-slider p {
            font-size: 16px;
            text-align: center;
        }

        .read-more__text .read-more,
        .read-more__text-content {
            font-size: 16px;
            font-weight: 400;
        }

        .section-map .section__flex ol,
        .section-map .section__flex ul {
            font-size: 16px;
            font-weight: 400;
        }

        .section-map .section__flex ol li,
        .section-map .section__flex ul li {
            font-weight: 400;
        }

        .footer__title {
            font-size: 16px;
            font-weight: 400;
        }

        .footer__contact,
        .footer__top-open {
            font-size: 24px;
            font-weight: 400;
        }

        .footer__bottom {
            font-size: 14px;

            p strong,
            button {
                font-size: 16px;
            }
        }

        .popup#qrcode .qrcode-link a {
            padding: 7px 32px;
        }

        .popup#contacts form .clone-submit,
        .popup#contacts form button,
        .popup#contacts form .wpcf7-submit {
            padding: 10px 32px;
        }

        @media (max-width: 1440px) {
            .popup#contacts .form__input input {
                padding: 4px 24px;
            }

            .popup#contacts .popup__content-qrimages div {
                width: 80px;
                height: 80px;
            }

            .popup#contacts .popup__content-socialbuttons a,
            .popup#contacts .popup-form h3 {
                font-size: 20px;
            }
        }
    }

    @media (max-width: 768px) {
        .header__city-btn {
            font-size: 10px;
        }

        ._button {
            height: 46px;
            font-size: 16px;
        }

        h1 {
            font-size: 22px;
            text-align: left;
            font-weight: 700;
            margin-bottom: -20px;
        }

        .about-slider__wrapper {
            left: -5%;
            height: 420px;
        }

        .hero-slider ._button {
            width: 75%;
            bottom: 15px;
        }

        .hero-slider .person__card-info h3 {
            font-size: 22px;
        }

        .person__card-info ol li img {
            width: 48px;
        }

        .person__card-info ol {
            gap: 15px;
            align-items: center;
        }

        .person__card-info ol li {
            flex-direction: row;
        }

        .person__card-info ol li span {
            font-size: 50px;
        }

        .person__card-info ol li label {
            text-align: left;
            margin-left: 4px;
        }

        .about-slider__container button {
            top: 52px;
        }

        .features-flex .features-link label {
            font-size: 12px !important;
        }

        .features-flex .features-link span {
            font-size: 50px !important;
        }

        section.service-features ._button {
            width: 75%;
            margin-left: auto;
            margin-right: auto;
        }

        section.service-features .features-flex__links {
            width: 95px;
        }

        section.service-features .features-flex__img {
            width: 71%;
        }

        section.service-features .proekt {
            height: 131px;
        }

        section.service-features .depozit {
            top: -18px;
            left: 37px;
        }

        section.service-features .soprovojdenie {
            min-width: 240px;
            left: calc(100% - 15px);

            span {
                margin-left: 10px;
                flex: 0 0 auto;
            }
        }

        .company .depozit {
            width: 112px;
            height: 112px;
        }

        h2 {
            font-size: 16px !important;
        }

        table td,
        table th {
            font-size: 12px !important;
            width: 70px;
        }

        .table-container .table-tarif th:first-child,
        .table-container table tr td:first-child {
            width: 120px;
        }

        .view-more span {
            font-size: 12px !important;
        }

        .view-more svg {
            margin-top: 3px;
        }

        .callback-text .section__flex-left p,
        .victory-swiperblock .section__flex p {
            font-size: 16px;
            font-weight: 400;
            text-align: center;

            a,
            span {
                font-weight: 400;
            }
        }

        .victory-swiperblock {
            padding-bottom: 34px;
        }

        .whatsapp-slider ._button {
            width: 75%;
            margin-left: auto;
            margin-right: auto;
        }

        .whatsapp-slider p {
            font-size: 10px;
        }

        .about-why h2 {
            padding: 0 10%;
        }

        .read-more__text .read-more,
        .read-more__text-content {
            font-size: 12px;
        }

        .section-map {
            padding-top: 40px;
        }

        .section-map .section__flex h2 {
            margin-bottom: 20px;
        }

        .section-map .section__flex ol,
        .section-map .section__flex ul {
            font-size: 12px;
        }

        .read-more__text:before {
            box-shadow: 0px -15px 9px 0px #fff;
        }

        .footer__title {
            text-align: center;
            font-size: 14px;
            margin-bottom: 20px;
        }

        .footer__top-open {
            margin-bottom: 43px;
        }

        .footer__contact {
            margin-bottom: 15px;
        }

        .footer__center {
            margin-bottom: 20px;
        }

        .footer__bottom {
            font-size: 12px;
        }

        .footer__bottom div {
            margin-bottom: 40px;
        }

        .footer {
            padding: 30px 0 80px 0;
        }
    }
}
